h1{
    width: 250px;
    height: 500px;
    background-color:#808080;
    color: white;
}
.square_one{
    width: 100px;
    height: 100px;
    background-color:#fea500;
}
.square_two{
    width: 100px;
    height: 100px;
    background-color: #fea500;
}
.square_three{
    width: 100px;
    height: 100px;
    background-color: #fea500;
}
.square_four{
    width: 100px;
    height: 100px;
    background-color: #fea500;
}