h1{
    width: 250px;
    height: 500px;
    background-color:#808080;
    color: white;
    font-size:130%;
}
div{
    width: 105px;
    height: 105px;
    background: #fea500;
    margin:auto;
}
.square-one{
    margin-bottom: 0.5rem;
}
.square-two{
    margin-bottom: 0.5rem;
}
.square-three{
    margin-bottom: 0.5rem;
}
.square-four{
    margin-bottom: 0.5rem;
}